[submodule "third-party/pt"]
	path = third_party/pt
	url = https://github.com/zserge/pt
[submodule "third_party/optional"]
	path = third_party/optional
	url = https://github.com/TartanLlama/optional
[submodule "third_party/invoke.hpp"]
	path = third_party/invoke.hpp
	url = https://github.com/BlackMATov/invoke.hpp
[submodule "kcmakelib"]
	path = kcmakelib
	url = ../kcmakelib
	branch = master
[submodule "ckd"]
	path = third_party/ckd
	url = ../ckd
	branch = master
