[submodule "Unity"]
	path = third-party/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "ccan"]
	path = third-party/ccan
	url = https://github.com/rustyrussell/ccan
[submodule "third-party/pt"]
	path = third-party/pt
	url = https://github.com/zserge/pt
